/02.ExerciseStacksAndQueues/.vs
/02.ExerciseStacksAndQueues/02.ExerciseStacksAndQueues.sln
/02.ExerciseStacksAndQueues/P01.BasicStackOperations/obj
/02.ExerciseStacksAndQueues/P01.BasicStackOperations/bin
