/01.StacksAndQueues/P01.ReverseString/.vs
/01.StacksAndQueues/P01.ReverseString/bin
/01.StacksAndQueues/P01.ReverseString/obj
/01.StacksAndQueues/P02.StackSum/obj
/01.StacksAndQueues/P02.StackSum/bin
/01.StacksAndQueues/P03.SimpleCalculator/obj
/01.StacksAndQueues/P03.SimpleCalculator/bin
/01.StacksAndQueues/P04.MatchingBrackets/bin
/01.StacksAndQueues/P04.MatchingBrackets/obj
/01.StacksAndQueues/P07.HotPotato/obj
/01.StacksAndQueues/P07.HotPotato/bin
/01.StacksAndQueues/P08.TrafficJam/obj
/01.StacksAndQueues/P08.TrafficJam/bin
/.vs
/01.StacksAndQueues/P01.ReverseString/01.StacksAndQueues.sln
